{{> head}}
<body>
    <h1>Welcome to my site.</h1>
    <div>
        <img src="PearlJam.jpg"> 
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Quisque at finibus tortor. Vestibulum ut mauris finibus, condimentum velit faucibus, vestibulum est. 
        Nulla facilisi. Cras nec fringilla leo, sit amet egestas mauris. 
        Quisque pretium accumsan orci et bibendum. Vestibulum turpis leo, feugiat vel pretium quis, blandit in nibh. 
        Donec hendrerit magna odio, at euismod nulla auctor non. Phasellus dictum leo et nibh bibendum vehicula. 
        Aliquam erat volutpat. Morbi ut erat vitae neque auctor dignissim. 
        Cras eros orci, tempor vitae malesuada et, tincidunt in nulla.
    </p>
    <p>
        Vestibulum rhoncus orci est, vitae gravida magna porta et. 
        Phasellus sed venenatis dolor, et tincidunt orci. Suspendisse feugiat eleifend leo eget posuere. 
        Nunc vestibulum felis sed sem pretium consequat. Fusce sit amet tortor erat. 
        Sed sed risus eu enim consectetur lobortis. Maecenas rhoncus lectus quis lectus efficitur laoreet. 
        Nunc finibus quam quis quam efficitur, et pharetra turpis lobortis. 
        Sed blandit tempor bibendum. Suspendisse potenti. Proin ac suscipit diam. 
        Proin commodo nulla elementum dolor feugiat varius. 
        Praesent malesuada mattis est, sed aliquet tellus luctus ultrices. 
        Curabitur placerat felis sit amet massa gravida congue.
    </p>

    {{> footer}}
</body>
</html>