{{> head}}
<body>
    <h1>Fill in the form!</h1>
     <form action="/results" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name"><br><br>
        <label for="email">E-Mail</label>       
        <input type="text" name="email"><br><br>
        <label for="comments">Comments</label><br><br>
        <textarea name="comments"></textarea><br><br>
        <button type="submit">Submit</button>
    </form>
    {{> footer}}
</body>
</html>