{{> head}}
<body>
    <h1>Welcome to my site.</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Fusce malesuada consequat dui sit amet maximus. 
        Mauris ornare metus in libero tempor imperdiet at in nisi. 
        Nullam odio lorem, dapibus quis lectus eu, laoreet tincidunt enim. 
        Donec sodales nisl sem, ut lacinia sem placerat sit amet. 
        Fusce euismod lacus in odio pharetra auctor. 
        Curabitur sagittis sem enim, posuere pulvinar lacus accumsan at. 
        Vivamus ac turpis vitae felis vehicula consectetur. 
        Pellentesque vestibulum purus sed dolor porta posuere. 
        Nullam imperdiet sem eu ante finibus, eget luctus eros commodo. 
        Pellentesque in magna vitae felis posuere varius vel in metus. 
        Praesent venenatis gravida maximus. 
        Donec viverra tincidunt orci eget commodo.
    </p>    
    {{> footer}}
</body>
</html>